<ion-view title="Search">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" ng-controller="CameraCtrl">
      <div class="row">
          <div class="col-md-2">
              <button pulse ng-click="takePicture()" class="button button-block button-energized">
                  Take Picture
              </button>
          </div>
          <div class="md-col-12">
              <p style="color:#1aacc3">photo path : {{ photo }}</p>
              <p style="color:#1aacc3">file system: {{ filesystem }}</p>

              {{ photo.toString().length >0 ? true :false }}
              <div ng-if="photo.toString().length >0 ? true :false" photo-grid photo="photo" grid-width="196" grid-height="100" grid-rows="6" grid-columns="5"></div>
              <!--<img ng-src="{{photo}}" alt=""/>-->

          </div>
      </div>

  </ion-content>
</ion-view>
